/* сброс стилей браузера */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.2;
}
ol {
  padding-left: 1.4em;
  list-style: decimal;
}
ul {
  padding-left: 1.4em;
  list-style: square;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* конец кода сброса стилей браузера */

#app {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#edf0f3+0,dee5ec+17,c2d1de+50,b3c7d9+51,b8d0e0+59,bedbea+71,b3cad9+84,9db4cf+100 */
  background: #edf0f3; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #edf0f3 0%,
    #dee5ec 17%,
    #c2d1de 50%,
    #b3c7d9 51%,
    #b8d0e0 59%,
    #bedbea 71%,
    #b3cad9 84%,
    #9db4cf 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #edf0f3 0%,
    #dee5ec 17%,
    #c2d1de 50%,
    #b3c7d9 51%,
    #b8d0e0 59%,
    #bedbea 71%,
    #b3cad9 84%,
    #9db4cf 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #edf0f3 0%,
    #dee5ec 17%,
    #c2d1de 50%,
    #b3c7d9 51%,
    #b8d0e0 59%,
    #bedbea 71%,
    #b3cad9 84%,
    #9db4cf 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf0f3', endColorstr='#9db4cf',GradientType=0 ); /* IE6-9 */

  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
}
.header {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  /* background-color: rgb(240, 160, 160); */
}
.h1 {
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 5px 5px 10px rgb(30, 32, 32);
}

.cardWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 50px auto auto; */
  gap: 5px;
  width: 100%;
  height: 100%;
  /* background-color: rgb(169, 245, 169); */
  justify-content: space-evenly;
  position: relative;
}

.actionBar {
  /* background-color: blueviolet; */
  display: grid;
  width: 100%;
  height: 50px;
  grid-column: 1 / 5;
  justify-content: center;
  align-items: start;
}
.addCatButton {
  border-radius: 10px;
  width: 150px;
  height: 45px;
  font-size: 30px;
  box-shadow: 5px 5px 10px rgb(30, 32, 32);
}
.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 30px 30px 30px;
  box-shadow: 5px 5px 10px rgb(30, 32, 32);
  border-radius: 25px;
  justify-content: center;
  align-items: start;
  width: 300px;
  height: 460px;
}
.cardWrapper > .card > .imgWrapper {
  display: grid;
  justify-content: center;
  width: 100%;
  height: 80%;
  border-radius: 25px;
}
.img {
  width: 250px;
  height: 250px;
  margin: 15px;
  border-radius: 25px;
}
.name {
  justify-self: center;
  font-size: 32px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.descript {
  justify-self: center;
  font-size: 26px;
}
.rate {
  justify-self: center;
  font-size: 26px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(241, 246, 247, 0.5);
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer {
  width: 100%;
  height: 40px;
  /* background-color: rgb(167, 167, 170); */
  font-size: 18px;
  font-style: italic;
}

.formWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 700px;
  height: 400px;
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgb(30, 32, 32);
  position: absolute;
  top: 20px;
  right: 400px;
  left: 400px;
  bottom: 50px;
  background-color: rgba(241, 246, 247, 0.7);
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
}

.formRowId {
  grid-column: 1;
  grid-row: 1;
  justify-self: end;
  align-self: center;
}

.formRowAge {
  grid-column: 1;
  grid-row: 2;
  justify-self: end;
  align-self: center;
}

.formRowName {
  grid-column: 1;
  grid-row: 3;
  justify-self: end;
  align-self: center;
}

.formRowRate {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  align-self: center;
  padding-right: 30px;
}

.formRowDescrip {
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
  align-self: center;
  padding-right: 30px;
}

.formRowFavour {
  grid-column: 1;
  grid-row: 4;
  justify-self: center;
  align-self: center;
}

.formRowImgLink {
  grid-column: 2;
  grid-row: 3;
  justify-self: end;
  align-self: center;
  padding-right: 30px;
}

.btnRow {
  grid-column: 2;
  grid-row: 4;
  display: grid;
  padding: 20px;
}
#btnSave {
  border-radius: 15px;
}
input {
  height: 30px;
}

/* Detail - startCode */
.cardDetail {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#edf0f3+0,dee5ec+17,c2d1de+50,b3c7d9+51,b8d0e0+59,bedbea+71,b3cad9+84,9db4cf+100 */
  background: #edf0f3; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #edf0f3 0%,
    #dee5ec 17%,
    #c2d1de 50%,
    #b3c7d9 51%,
    #b8d0e0 59%,
    #bedbea 71%,
    #b3cad9 84%,
    #9db4cf 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #edf0f3 0%,
    #dee5ec 17%,
    #c2d1de 50%,
    #b3c7d9 51%,
    #b8d0e0 59%,
    #bedbea 71%,
    #b3cad9 84%,
    #9db4cf 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #edf0f3 0%,
    #dee5ec 17%,
    #c2d1de 50%,
    #b3c7d9 51%,
    #b8d0e0 59%,
    #bedbea 71%,
    #b3cad9 84%,
    #9db4cf 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf0f3', endColorstr='#9db4cf',GradientType=0 ); /* IE6-9 */

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 700px;
  height: 400px;
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgb(30, 32, 32);
  position: sticky;
  top: 25%;
  left: 30%;
  bottom: 50px;
  background-color: rgba(241, 246, 247, 0.7);
}

.imgWrapperDetail {
  grid-column: 1;
  grid-row: 1 / 5;
  justify-self: start;
  align-self: start;
}

.rateDetail {
  grid-column: 1;
  grid-row: 6;
  font-size: 22px;
  justify-self: center;
  align-self: end;
}

.nameDetail {
  grid-column: 2;
  grid-row: 1;
  font-size: 40px;
  justify-self: center;
  align-self: start;
}

.ageDetail {
  grid-column: 2;
  grid-row: 2;
  font-size: 40px;
  justify-self: center;
  align-self: start;
}

.descriptDetail {
  grid-column: 2;
  grid-row: 3;
  font-size: 40px;
  justify-self: center;
  align-self: start;
}

.closeButton {
  grid-column: 2;
  grid-row: 6;
  display: grid;
  padding: 10px;
  justify-self: start;
  align-self: stretch;
}

#btnClose {
  border-radius: 15px;
  font-size: 20px;
  width: 100px;
}

.changeButton {
  grid-column: 2;
  grid-row: 6;
  display: grid;
  padding: 10px;
  justify-self: end;
  align-self: stretch;
}

#btnChange {
  border-radius: 15px;
  font-size: 20px;
  width: 100px;
}
/* Detail - endCode */

/*********************************************************************************************/
.cardChangeDetail {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#edf0f3+0,dee5ec+17,c2d1de+50,b3c7d9+51,b8d0e0+59,bedbea+71,b3cad9+84,9db4cf+100 */
  background: #edf0f3; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #edf0f3 0%,
    #dee5ec 17%,
    #c2d1de 50%,
    #b3c7d9 51%,
    #b8d0e0 59%,
    #bedbea 71%,
    #b3cad9 84%,
    #9db4cf 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #edf0f3 0%,
    #dee5ec 17%,
    #c2d1de 50%,
    #b3c7d9 51%,
    #b8d0e0 59%,
    #bedbea 71%,
    #b3cad9 84%,
    #9db4cf 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #edf0f3 0%,
    #dee5ec 17%,
    #c2d1de 50%,
    #b3c7d9 51%,
    #b8d0e0 59%,
    #bedbea 71%,
    #b3cad9 84%,
    #9db4cf 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf0f3', endColorstr='#9db4cf',GradientType=0 ); /* IE6-9 */

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 700px;
  height: 400px;
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgb(30, 32, 32);
  position: absolute;
  top: 20px;
  right: 400px;
  left: 400px;
  bottom: 50px;
  background-color: rgba(241, 246, 247, 0.7);
}

.formChangeRowName {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  align-self: center;
  padding-right: 30px;
}

.formChangeRowAge {
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
  align-self: center;
  padding-right: 30px;
}

.formChangeRowDescrip {
  grid-column: 2;
  grid-row: 3;
  justify-self: end;
  align-self: center;
  padding-right: 30px;
}

.formChangeRowRate {
  grid-column: 2;
  grid-row: 4;
  justify-self: end;
  align-self: center;
  padding-right: 30px;
}

.formChangeRowFavour {
  grid-column: 2;
  grid-row: 5;
  justify-self: end;
  align-self: center;
  padding-right: 30px;
}

.formChangeRowImgLink {
  grid-column: 1;
  grid-row: 6;
  justify-self: start;
  align-self: center;
  padding-left: 30px;
}

.saveChangeButton {
  grid-column: 2;
  grid-row: 6;
  display: grid;
  padding: 10px;
  justify-self: stretch;
  align-self: stretch;
}

#btnSaveChange {
  border-radius: 15px;
  font-size: 20px;
  /* width: 100px; */
}

.deleteButton {
  grid-column: 2;
  grid-row: 6;
  display: grid;
  padding: 10px;
  justify-self: center;
  align-self: stretch;
}

#btnDeleteCat {
  border-radius: 15px;
  font-size: 20px;
  /* width: 100px; */
}
